@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
  height: 2450px;
  position: relative;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.img-size {
  width: 300px;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}
.container .firstpage {
  position: absolute;
  top: 0;
  left: 0;
}
.container .firstpage .head-img {
  position: relative;
  width: 100%;
  height: fit-content;
}
.container .firstpage .head-img .title {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  z-index: 5;
  transition: all 1s ease;
}
.container .firstpage .head-img .title .circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  transform: all 1s ease;
}
.container .firstpage .head-img .title span {
  position: absolute;
  transition: all 0.5s ease-out;
}
.container .firstpage .head-img .title .lusim {
  top: 0;
  left: -12.5rem;
}
.container .firstpage .head-img .title .f {
  width: auto;
  height: auto;
  background-color: transparent;
  border-radius: 50%;
}
.container .firstpage .head-img .title .food {
  top: 0;
  left: 2.5rem;
}
.container .firstpage .head-img .bg-img {
  width: 100vw;
  opacity: 0.9;
  position: sticky;
}
.container .firstpage .images {
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.7s ease-out;
}
.container .firstpage .img-1 {
  top: 20%;
  left: 10%;
  transform: scale(1);
  transition: all 0.7s ease-out;
}
.container .firstpage .img-2 {
  top: 35%;
  left: 80%;
  transform: scale(0.6);
  transition: all 0.7s ease-out;
}
.container .firstpage .img-3 {
  top: 34%;
  left: 44%;
  transform: scale(0.7);
  transition: all 0.7s ease-out;
}
.container .firstpage .img-4 {
  top: 65%;
  left: 5%;
  transform: scale(1);
  transition: all 0.7s ease-out;
}
.container .firstpage .scroll {
  width: 5rem;
  text-align: center;
  position: absolute;
  letter-spacing: 0.2rem;
  bottom: 38%;
  left: -3%;
  font-size: 0.7rem;
  transform: rotate(-90deg);
  transform-origin: right;
  border-bottom: 1px solid #000;
  color: #fff;
  padding-bottom: 0.2rem;
  transition: opacity 0.5s ease-out;
  animation: 1s linear 1s infinite alternate-reverse blink;
}
@keyframes blink {
  from {
    color: transparent;
  }
  to {
    color: #fff;
  }
}
.container .secondpage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  background-color: #000;
  text-transform: uppercase;
  top: 735px;
  width: 100%;
  height: 100vh;
  color: #fff;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  top: 1070px;
}
.container .secondpage .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  z-index: 8;
}
.container .secondpage img {
  position: absolute;
  z-index: 1;
  filter: contrast(1.2);
}
.container .app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100;
  bottom: -1228px;
}
.container .app .header .menu {
  width: 100vw;
  height: 2.5rem;
  background: linear-gradient(to right, #a1baae 10%, #719fa4 70%, #1a4446);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .app .header .menu .menu-tabs {
  display: flex;
  justify-content: 0;
  align-items: center;
}
.container .app .header .menu .menu-tabs .tabs {
  margin: auto 1rem;
  font-size: 0.8rem;
  transition: all 0.25s ease;
}
.container .app .header .menu .menu-tabs .tabs span::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  width: 0;
  height: 1.2px;
  transform-origin: left;
  border-bottom: 1px solid #fff;
  transition: all 0.5s ease;
}
.container .app .header .menu .menu-tabs .tabs span::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  right: 50%;
  width: 0;
  height: 1.2px;
  transform-origin: right;
  border-bottom: 1px solid #fff;
  transition: all 0.5s ease;
}
.container .app .header .menu .menu-tabs .tabs:hover, .container .app .header .menu .menu-tabs .tabs:hover span::after, .container .app .header .menu .menu-tabs .tabs:hover span::before {
  transform: scale(1.15);
  color: #fff;
  width: 50%;
}
.container .app .header .menu .social-tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-right: 3rem;
  position: relative;
}
.container .app .header .menu .social-tabs .soc-tabs {
  position: relative;
  margin: auto 0.4rem;
  font-size: 1.2rem;
  transition: all 0.5s ease;
  padding-bottom: 0.1rem;
}
.container .app .header .menu .social-tabs .soc-tabs:hover {
  transform: scale(1.3) translateY(0.1rem);
}
.container .app .body {
  background-color: #b9d2d4;
  height: 100vh;
  width: 100vw;
}/*# sourceMappingURL=style.css.map */