@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.img-fluid {
  display: block;
  width: 100%;
  height: auto;
}

.img-size {
  width: 300px;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
}
.container .firstpage {
  position: relative;
}
.container .firstpage .head-img {
  position: relative;
  width: 100%;
  height: fit-content;
}
.container .firstpage .head-img .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
  z-index: 5;
}
.container .firstpage .head-img .bg-img {
  opacity: 0.9;
}
.container .firstpage .images {
  position: absolute;
  z-index: 1;
  display: none;
}
.container .firstpage .img-1 {
  top: 5%;
  left: 10%;
  transform: scale(1);
}
.container .firstpage .img-2 {
  top: -15%;
  left: 65%;
  transform: scale(0.6);
}
.container .firstpage .img-3 {
  top: 30%;
  left: 44%;
  transform: scale(0.7);
}
.container .firstpage .img-4 {
  top: 65%;
  left: 5%;
  transform: scale(1);
}
.container .secondpage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  background-color: #000;
  text-transform: uppercase;
  width: 100%;
  height: 100vh;
  color: #fff;
  transition: all 2s ease-in-out;
  display: none;
}
.container .app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100;
}
.container .app .header .menu {
  width: 100vw;
  height: 2.5rem;
  background: linear-gradient(to right, #a1baae 10%, #719fa4 70%, #1a4446);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .app .header .menu .menu-tabs {
  display: flex;
  justify-content: 0;
  align-items: center;
}
.container .app .header .menu .menu-tabs .tabs {
  margin: auto 1rem;
  font-size: 0.8rem;
  transition: all 0.25s ease;
}
.container .app .header .menu .menu-tabs .tabs span::before {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  width: 0;
  height: 1.2px;
  transform-origin: left;
  border-bottom: 1px solid #fff;
  transition: all 0.5s ease;
}
.container .app .header .menu .menu-tabs .tabs span::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  right: 50%;
  width: 0;
  height: 1.2px;
  transform-origin: right;
  border-bottom: 1px solid #fff;
  transition: all 0.5s ease;
}
.container .app .header .menu .menu-tabs .tabs:hover, .container .app .header .menu .menu-tabs .tabs:hover span::after, .container .app .header .menu .menu-tabs .tabs:hover span::before {
  transform: scale(1.15);
  color: #fff;
  width: 50%;
}
.container .app .header .menu .social-tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-right: 1rem;
  position: relative;
}
.container .app .header .menu .social-tabs .soc-tabs {
  position: relative;
  margin: auto 0.4rem;
  font-size: 0.9rem;
  transition: all 0.5s ease;
  padding-bottom: 0.1rem;
}
.container .app .header .menu .social-tabs .soc-tabs:hover {
  transform: scale(1.3) translateY(0.1rem);
}/*# sourceMappingURL=style.css.map */